/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", serif;
  font-optical-sizing: auto;
}

body {
  background-color: #f6eff4;
}

header {
  min-height: 13dvh;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 999;
}

nav {
  display: flex;
  padding: 0 5rem;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  text-decoration: none;
  padding-top: 1.5rem;
}

nav .logo img {
  max-width: 190px;
}

nav li a {
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
  list-style-type: none;
}

nav li {
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
  list-style-type: none;
}

nav li a:hover {
  color: #a02279;
}

nav menu {
  display: flex;
  gap: 3.8rem;
}

nav button {
  background-color: #a02279;
  color: white;
  border: none;
  border-radius: 5px 5px;
  cursor: pointer;
  height: 2rem;
  width: 7.5rem;
  font-size: 0.8rem;
}

nav button:hover {
  background-color: #121212;
  transition: transform 0.4s ease;
  transform: scale(1.05);
}

main {
  min-height: 80dvh;
  padding: 0 5rem;
  display: flex;
  align-items: center;
  color: #ffffff;
  display: flex;
  align-items: center;
}

main h2 {
  font-size: 2.8rem;
  padding-bottom: 2.5rem;
  color: #1d1d1e;
  font-weight: 400;
  padding-top: 3rem;
}

main p {
  padding-bottom: 3rem;
  line-height: 1.4rem;
  font-size: 1.2rem;
  color: #1d1d1e;
}

span {
  font-weight: 800;
  color: #a02279;
}

main .part-one {
  width: 50%;
  padding-right: 5rem;
}

main .part-two {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 80%;
  margin-left: 21rem;
}

main .part-two img {
  max-height: 9rem;
  float: left;
}

main .part-two .group1 {
  margin-top: 80%;
}

main .part-two .group2 {
  margin-bottom: 80%;
}

.search-container {
  display: flex;
  align-items: center;
}

#searchLocation {
  padding: 10px;
  border: 1px solid #b6b6b6;
  border-radius: 5px 0 0 5px;
  width: 17rem;
  height: 2.7rem;
}

#searchLocation::placeholder {
  font-size: 0.8rem;
}

#searchButton {
  background-color: #a02279;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  height: 2.7rem;
  width: 9.5rem;
  font-size: 0.8rem;
}

#searchButton:hover {
  background-color: #070230;
}

.liner {
  min-height: 9vh;
  background-color: #a02279;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 5rem;
}

.liner img {
  max-height: 2rem;
}

section {
  min-height: 120dvh;
  background-color: #f6eff4;
  text-align: center;
}

section h2 {
  font-size: 2.5rem;
  padding: 3rem 0;
}

.card-parent {
  display: flex;
  flex-wrap: wrap;
  gap: 3.8rem;
  padding: 0.5rem 7rem;
  justify-content: space-between;
  padding-bottom: 5rem;
}

.card {
  min-height: 14rem;
  max-width: 17.5rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  padding-top: 0.5rem;
  font-size: 0.6rem;
  padding: 0.5rem 0.1 rem;
}

.card img {
  max-width: 13.5rem;
}

.card img:hover {
  transition: transform 0.4s ease-in-out;
  transform: scale(1.02);
}

section .card .text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

section .card .text1 {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0.4rem;
  padding-top: 1rem;
}

section .card .text2 {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0.4rem;
}

section .card .star {
  padding: 0 1rem 1rem;
  align-self: flex-start;
}

section:nth-of-type(2) {
  min-height: 86dvh;
  background-color: #a02279;
  padding: 0 5rem;
  display: flex;
  align-items: center;
  color: #ffffff;
}

section .part-one {
  width: 35%;
  padding-right: 2rem;
  text-align: left;
  padding-top: -10rem;
}

section .part-one h2 {
  font-size: 2.5rem;
  padding-bottom: 4rem;
}

section .part-one p {
  padding-bottom: 2rem;
  line-height: 1.6rem;
  font-size: 0.9rem;
}

section .part-one button {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  width: 7rem;
  color: #a02279;
  font-size: 0.8rem;
  background-color: #f0f0f0;
}

section .part-one button:hover {
  box-sizing: inset 1px 2px;
  background: linear-gradient(
    124.4deg,
    rgb(230, 230, 230) 10.8%,
    rgb(200, 200, 200) 87.34%
  );
  cursor: pointer;
}

section .part-two {
  position: relative;
  padding-left: 4rem;
  height: 100%;
}

section .part-two .m1 {
  position: absolute;
  bottom: -4rem;
  left: 15rem;
}

section .part-two .m1 img {
  max-height: 17rem;
}
section .part-two .m2 img {
  max-height: 18rem;
}
section .part-two .m3 img {
  max-height: 15rem;
}

section .part-two .m2 {
  position: absolute;
  bottom: -12rem;
  left: 4rem;
}

section .part-two .m3 {
  position: absolute;
  bottom: -14rem;
  left: 18rem;
}

footer {
  min-height: 38dvh;
  background-color: #1d1d1e;
  display: flex;
  color: #ffffff;
  padding: 0 5rem;
  align-items: center;
  justify-content: space-between;
  font-size: 0.7rem;
}

footer .logo > * {
  padding-top: 2.5rem;
}

footer .logo img {
  max-width: 12rem;
  padding-top: 1rem;
  cursor: pointer;
}

footer .logo p {
  font-size: 0.8rem;
}

footer .icons > * {
  padding-right: 1.8rem;
  cursor: pointer;
}

footer {
  min-height: 38dvh;
  background-color: #1d1d1e;
  display: flex;
  color: #ffffff;
  padding: 0 5rem;
  align-items: center;
  justify-content: space-between;
  font-size: 0.7rem;
}

.footer-links {
  display: flex;
  gap: 13rem;
  padding-right: 9rem;
  list-style: none;
  line-height: 1.5rem;
  padding-top: 1rem;
  cursor: pointer;
}

.footer-links h3 {
  font-size: 0.9rem;
  padding-bottom: 0.8rem;
}

.footer-links li:hover {
  color: #a02279;
}
